.pipeline-name {
  font-size: 5vw;
  flex-basis: 100%;
}

.stage-container {
  display: flex;
  margin-bottom: -6vw;
  width: 100%;
  height: 7em;
}

.stage {
  flex-basis: 100%;
  color: #676767;
}

.stage.passed {
  background: linear-gradient(to bottom, #b4ddb4, #169116);
}
.stage.failed {
  background: linear-gradient(to bottom, #ddb4b4, #911616);
}
.stage.cancelled {
  background: linear-gradient(to bottom, #ddbeb4, #915816);
}
.stage.failing {
  background-image: repeating-linear-gradient(90deg,
    transparent,
    transparent 20px,
    rgba(255,255,255,0.5) 20px,
    rgba(255,255,255,0.5) 32px
  ), linear-gradient(#ddb4b4, #911616);
  animation: scrolling 6s infinite linear;
}
.stage.building {
  background-image: repeating-linear-gradient(90deg,
    transparent,
    transparent 10px,
    rgba(255,255,255,0.5) 10px,
    rgba(255,255,255,0.5) 16px
  ), linear-gradient(#b4ddb4, #169116);
  animation: scrolling 6s infinite linear;
}
.stage.unknown {
  background: linear-gradient(to bottom, #aeaeae, #858585);
}

#dashboard.error {
  font-size: 24vw;
  color: #8a0000;
}

@keyframes scrolling {
  100% { background-position: 256px 0px;}
}
