.pipeline-name {
    height: 6vmax;
    margin-top: -5.75vmax;
    font-size: 5vmax;
    flex-basis: 100%;
    overflow: hidden;
}

.stage-container {
    display: flex;
    width: 100%;
    height: 6vmax;
}

.stage {
    flex-basis: 100%;
    color: #676767;
    font-size: 0.75vmax;
}

.stage.passed {
    background: linear-gradient(to bottom, #b4ddb4, #169116);
}

.stage.building {
    background-image: repeating-linear-gradient(90deg, transparent, transparent 10px, rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 16px), linear-gradient(#c2d0b4, #557716);
    animation: scrolling 6s infinite linear;
}

.stage.recovering {
    background-image: repeating-linear-gradient(90deg, transparent, transparent 10px, rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 16px), linear-gradient(#d3bfb4, #7e4a16);
    animation: scrolling 6s infinite linear;
}

.stage.failed {
    background: linear-gradient(to bottom, #ddb4b4, #911616);
}

.stage.failing {
    background-image: repeating-linear-gradient(90deg, transparent, transparent 10px, rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 16px), linear-gradient(#d5bcb4, #824316);
    animation: scrolling 6s infinite linear;
}

.stage.cancelled {
    background: linear-gradient(to bottom, #ddbeb4, #915816);
}

.stage.unknown {
    background: linear-gradient(to bottom, #aeaeae, #858585);
}

@keyframes scrolling {
    100% {
        background-position: 256px 0px;
    }
}